
.container{
	margin: inherit;
    width: inherit;
}
.landing-text {
  background: transparent;
    vertical-align: middle;
    font-size-adjust: auto;
    font-size: 60px;
}
.p {
  text-align : center;
  position : absolute;
}

}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
  }

  .logoBig{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

.landing{
  background: url(images/background/landing.jpg)no-repeat;
}

.section1{
    background: whitesmoke;
    height: 300px;
}
.part1 {display: table; text-align: center; background-color:#722F37; width:50%; height:50%; float:left}
.part2 {display: table; text-align: center; background-color:#FFC987; width:50%; height:50%; float:left}
.part3 {display: table; text-align: center; background-color:#f4a460; width:50%; height:50%; float:left}
.part4 {display: table; text-align: center; background-color:#7F171F; width:50%; height:50%; float:left}
h4 {display: table-cell; vertical-align: middle;}
