#breakfast {
  background-image: url("../images/assest/breakfast.jpg");
  background-size:auto;
}

#lunch {
  background-image:url("../images/assest/lunch.jpg.");
  background-size:auto;
}

#dinner {
  background-image:url("../images/assest/dinner.jpg");
  background-size:auto;
}
#logo {
  background-image: url("../images/background/landing.jpg");
  background-repeat: no-repeat;
  background-size: auto;
}

#foot {
  background-color:#F15A29;
}

}
.logo{
    margin-left: auto;
    margin-right: auto;
    float: none;
    margin-top: 100px;
  }

  .logoBig{
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .ul {
      list-style-type: none;
      margin: 0;
      padding: 0;
  }
